<h1>Codeial / <%= title %></h1>

<section id="feed-posts">
    <form action="/posts/create-post" id="new-post-form" method="POST">
        <div class="form-group">
            <textarea class="form-control" name="content" style="max-width: 350px; margin: auto; opacity: 0.6;" rows="2" placeholder="Write a post.."></textarea>
        </div>
        <input class="btn btn-secondary" type="submit" value="Post">
    </form>
</section>