main {
    display: flex;
}   

aside {
    width: 30vw;
    padding-left: 50px;
    padding-right: 50px;
}

#home-page-posts {
    width: 40vw;
}

.list-group-item {
    background-color: #e5e5e5;
    border: none;
    margin: 5px;
    box-shadow: 0 1px 3px #858b95;
}

.list-group-item:hover {
    background-color: #cfd8e7;
}

.post {
    width: 477px;
    margin: 20px auto;
    background-color: white;
    border-radius: 6px;
    padding: 10px 10px;
    text-align: left;
    box-shadow: 0 2px 4px #858b95;
    /* border: 1px solid grey; */
}

.posted-by {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2px 0px;
}

.created-at {
    font-size: 0.7rem;
    color: #505050;
}

.post-content {
    margin: 5px 0px;
}

/* ----- Actionbar Container ------ */
.actionbar-container {
    display: flex;
    margin: 5px;
}

.like-button {
    margin: 5px 15px 5px 0px;
    color: #415370;
    cursor: pointer;
}

.comment-button {
    margin: 5px 5px;
    color: #415370;
    cursor: pointer;
}

.delete-post-button {
    margin-left: auto;
    margin-right: 15px;
    color: #415370;
}

.delete-comment-button {
    margin-left: auto;
    color: #415370;
}


/* ----- Comments ------ */
.add-comments-container {
    display: inline-block; 
    width: 450px;
    margin-bottom: -15px;
    font-family: sans-serif; !important
}

.add-comment-input {
    max-width: 400px;
    border-radius: 19px;
    font-family: sans-serif; !important
}

.btn {
    border-radius: 19px;
}

.btn-primary {
    background-color: #6c757d;
    border: none
}

.btn-primary:hover {
    background-color: hsl(208, 7%, 35%);
}

#postButton {
    position: relative;
    top: -42px;
    right: -84%;
    height: 33px;
    width: 54px;
}

.comment-item {
    background-color: #e1dfdf;
    /* border-top: 1px solid grey; */
    margin: 10px 10px 10px 0px;
    padding: 8px;
    border-radius: 10px;
}

.comment-item-user {
    font-weight: bold;
}

textarea.form-control {
    z-index: -1;
}