.post {
    width: 500px;
    margin: 10px auto;
    background-color: #d3dceb;
    border-radius: 6px;
    padding-left: 10px;
    text-align: left;
    box-shadow: 0 0 20px #858b95;
    border: 1px solid grey;
}

.posted-by {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2px 0px;
}

.created-at {
    font-size: 0.7rem;
}

.post-content {
    margin: 5px 0px;
}

.comments {
    display: inline-block; 
}

.add-comment-input {
    max-width: 300px;
    border-radius: 19px;
}

.btn {
    border-radius: 19px;
}